body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 40px;
}

input,
button {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
